@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border" >
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Attachment</p>
        <div class="d-flex justify-content-around" style="gap: 10px;">
            <button id="Command4496" name="Command4496" type="button" class="btn btn-secondary">Add</button>
            <button id="Command4497" name="Command4497" type="button" class="btn btn-secondary">Edit</button>
            <button id="Command4498" name="Command4498" type="button" class="btn btn-secondary">Delete</button>
            <button id="Command4499" name="Command4499" type="button" class="btn btn-secondary">AN Dispatch</button>
            <button id="Command4500" name="Command4500" type="button" class="btn btn-secondary">View</button>
        </div>
        <textarea id="ListAttachment" name="ListAttachment" class="form-control form-control-sm" rows="10"></textarea>
    </div>
</div>