@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Dispatch Detail</p>
        <div class="d-flex justify-content-around" style="gap: 10px;">
            <button type="button" class="btn btn-secondary" id="CDispatchAdd" name="CDispatchAdd">Add</button>
            <button type="button" class="btn btn-secondary" id="CDispatchEdit" name="CDispatchEdit">Edit</button>
            <button type="button" class="btn btn-secondary" id="CDispatchDel" name="CDispatchDel">Delete</button>
            <button type="button" class="btn btn-secondary" id="CANMainModule" name="CANMainModule">AN Dispatch</button>
            <button type="button" class="btn btn-secondary" id="CDispatchView" name="CDispatchView">View</button>
        </div>
        <textarea id="LDispatch" name="LDispatch" class="form-control form-control-sm" rows="10"></textarea>
    </div>
</div>