@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Document Information</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Qoute No</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Job No</div>
                <input type="text" class="col-3" />
                <div class="col-2  ">Supplier Serial Number</div>
                <input type="text" class="col-3" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Qoute Date</div>
                <input type="text" class="col-3" />
                <div class="col-2  ">WCS Date</div>
                <input type="text" class="col-3" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Qoute Rev.Date</div>
                <input type="text" class="col-3" />
                <div class="col-2  ">Qoute Rev.No</div>
                <input type="text" class="col-3" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Doc Type</div>
                <select name="" class="col-6">
                    <option value=""></option>
                    <option value="1">FAR</option>
                    <option value="2">CCR</option>
                    <option value="3">No Doc</option>
                </select>
                <div class="col-4">
                    <p class="fst-italic text-primary" style="font-size: 1em">Reason Type Is Moved Bellow Supplier</p>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">FAR/CCR Date</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Log AN Date</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Log AN Number</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">PER AN Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
                <div class="col-1"></div>
                <input type="text" class="col-2" />
                <div class="col-2">3</div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">EG - EI Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
                <div class="col-1">EGEI</div>
                <input type="text" class="col-2" />
                <div class="col-2">2</div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">EI - EK Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
                <div class="col-1">EIEK</div>
                <input type="text" class="col-2" />
                <div class="col-2">7</div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">EK - EP Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
                <div class="col-1">EKEP</div>
                <input type="text" class="col-2" />
                <div class="col-2">2</div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Dispute Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Disp Comp.Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Location Hold</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Current Status</div>
                <input type="text" class="col-10" disabled/>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Current Status</div>
                <select name="" class="col-4">
                    <option value=""></option>
                    @foreach (DataRow row in ViewBag.tnextstatus.Rows)
                    {
                        var statusId = row["ExrJobStatusID"].ToString();
                        var jobStatus = row["ExrJobStatus"].ToString();
                        var statusDesc = row["ExrJobStatusDesc"].ToString();
                        <option value="@statusId">@jobStatus | @statusDesc</option>
                    }
                </select>
                <input type="text" class="col-5 ms-2" disabled />
            </div>
        </div>
    </div>
</div>