@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Remark</p>
        <textarea id="tRemark" name="tRemark" class="form-control form-control-sm" rows="10"></textarea>
    </div>
</div>