@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Repair Status / Allocation</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">OffSite WO*</div>
                <div class="col-3">
                    <input type="text" class="col-3 form-control form-control-sm" />
                </div>
                <div class="col-1"></div>
                <div class="col-2  ">Site Alloc</div>
                <div class="col-3">
                    <select name="" class="col-3 form-control form-control-sm select2">
                        <option value=""></option>
                        @foreach (DataRow row in ViewBag.tsitealloc.Rows)
                        {
                            var location = row["Location"].ToString();
                            var locationName = row["LocationName"].ToString();
                            <option value="@location">@locationName | @location</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">WONO Alloc</div>
                <div class="col-3">
                    <input type="text" class="col-3 form-control form-control-sm" />
                </div>
                <div class="col-1"></div>
                <div class="col-2  ">UnitNo Alloc</div>
                <div class="col-3">
                    <input type="text" class="col-3 form-control form-control-sm" />

                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Sched Start</div>
                <div class="col-3">
                    <input type="text" class="col-3 form-control form-control-sm" />
                </div>
                <div class="col-1"></div>
                <div class="col-2  ">Store Alloc</div>
                <div class="col-3">
                    <input type="text" class="col-3 form-control form-control-sm" />
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Current SOH</div>
                <div class="col-3">
                    <input type="text" class="col-3 form-control form-control-sm" />
                </div>
                <div class="col-1"></div>
                <div class="col-2  ">Outsnd Req</div>
                <div class="col-3">
                    <input type="text" class="col-3 form-control form-control-sm" />
                </div>
            </div>
        </div>
    </div>
</div>