@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Site AN(Site to Log)</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2">Site AN No</div>
                <div class="col-3 ">
                    <input id="tSitetoLogAN" name="tSitetoLogAN" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["SitetoLogAN"] : "")"
                        type="Text" class="col-3 form-control form-control-sm" />
                </div>
                <div class="col-1 ms-2" style="max-height: 30px; max-width: 40px;"></div>
                <div class="col-2">Site AN Date</div>
                <div class="col-3">
                    <input id="tSitetoLogDate" name="tSitetoLogDate" value="@(ViewBag.data?.Rows.Count > 0 ? ViewBag.data?.Rows[0]?["SitetoLogDate"] : "")"
                        type="Text" class="col-3 form-control form-control-sm datepicker-basic" />
                </div>
            </div>
        </div>
    </div>
</div>
