@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Supplier Receiving Information</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">AN For Repair</div>
                <input type="text" class="col-3" />
                <button type="button" class="btn btn-primary col-1 ms-2 d-flex align-items-center" style="max-height: 30px; max-width: 40px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
                        <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z" />
                    </svg>
                </button>
                <div class="col-2  ">Email Date</div>
                <input type="text" class="col-3" placeholder="0.00" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Received Date</div>
                <input type="text" class="col-3" placeholder="0.00" />
                <div class="col-1 ms-n1"></div>
                <div class="col-2" >Received By</div>
                <input type="text" class="col-3" placeholder="0.00" />
            </div>
        </div>
    </div>
</div>