@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Warranty Details</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Warranty</div>
                <select name="" class="col-3">
                    <option value=""></option>
                    <option value="1">Accept</option>
                    <option value="2">Prorate</option>
                    <option value="3">Accept (Prorated Cost)</option>
                    <option value="3">Pending Evaluation</option>
                    <option value="3">Waiting FAR</option>
                </select>
                <div class="col-1"></div>
                <div class="col-2  ">Total Cost</div>
                <input type="text" class="col-3" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">OEM Cost</div>
                <input type="text" class="col-3" />
                <div class="col-1"></div>
                <div class="col-2  ">TCI Cost</div>
                <input type="text" class="col-3" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">WO Previous</div>
                <input type="text" class="col-3" />
                <div class="col-1"></div>
                <div class="col-2  ">OP Previous</div>
                <input type="text" class="col-3" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2  ">Internal WO Previous</div>
                <input type="text" class="col-3" />
                <div class="col-1"></div>
                <div class="col-2  ">Settlement Date</div>
                <input type="Text" class="col-3 datepicker-basic" />
            </div>
        </div>
    </div>
</div>