@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
}

<div class="modal fade" id="frm_ExrTagSatu" tabindex="-1" aria-labelledby="frm_ExrTagSatu" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="statusModal">After Repair - Single Tag</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="col-5">
                            <label for="selectTypeMultiple" class="form-label">Select Tag Type</label>
                            <select class="form-select" id="selectTypeMultiple">
                                <option></option>
                                <option value="standard">Standard Tagging</option>
                                <option value="direct">Direct Charge Item Tagging</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-sm btn-primary" id="CsingleTag">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>