@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
}

<div class="modal fade" id="frm_ExrTagSatu" tabindex="-1" aria-labelledby="frm_ExrTagSatu" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="statusModal">After Repair - Single Tag</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="col-5">
                            <label for="selectType" class="form-label">Select Tag Type</label>
                            <select class="form-select" id="selectType">
                                <option></option>
                                <option value="1">Standard Tagging</option>
                                <option value="2">Direct Charge Item Tagging</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button type="button" class="btn btn-sm btn-primary" id="CsingleTag">View</button>
                        <a class="btn btn-sm btn-primary" href="/Tag/TestPrint">Test Print</a>
                        <a class="btn btn-sm btn-primary" href="/Tag/StandardTag">See Standard Tag</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
    // single Tag
        $('#testPrint').on('click', function () {
            $.ajax({
                method: "POST",
                url: "/ExrRepairJobHistory/SingleTag",
                data: extractedData,
                success: function (response) {

                },
                error: function (error) {
                    // Handle error response here
                }
            });
        });
    )};
</script>