@{
}

<!-- Full screen modal content -->
<div id="mform" class="modal fade exampleModalFullscreen" tabindex="-1"
     aria-labelledby="exampleModalFullscreenLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <form id="formfilter" method="post" enctype="multipart/form-data" action="#">
            <div class="modal-content">
                <div class="modal-header justify-content-between d-flex align-items-center">
                    <h6>TCRC Job Detail</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <partial name="Form/_Column1.cshtml" />
                        <partial name="Form/_Column2.cshtml" />
                        <partial name="Form/_Column3.cshtml" />
                        <partial name="Form/_Column4.cshtml" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary ">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->