@{
    @using System.Data;
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 ml-1">Job Details</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">TCRC</a></li>
                    <li class="breadcrumb-item active">Index - Job Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div>
                        <button id="badd" type="button" class="btn btn-primary btn-sm" onclick="editData()">
                            <i class="fa fa-plus me-2"></i> Add
                        </button>
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offAdd" aria-controls="offcanvasTop">
                            <i class="fa fa-filter me-2"></i> Filter
                        </button>
                        <partial name="Index/_Filtering.cshtml" />
                        <button type="button" class="btn btn-primary btn-sm">
                            <i class="fa fa-upload me-2"></i> Upload WO Details
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-sm fs-10 datatablenon">
                                <thead class="fw-semibold bg-soft-secondary">
                                    <tr>
                                        <th></th>
                                        <th>
                                            WONo <hr class="mb-0 mt-0" /> WO Descriptions
                                        </th>
                                        <th>Parent WO</th>
                                        <th>Maint Type</th>
                                        <th>Stand</th>
                                        <th>WO Status</th>
                                        <th>WO Age</th>
                                        <th>
                                            Approval <hr class="mb-0 mt-0" /> Last Activity <hr class="mb-0 mt-0" /> Last Sub Activity
                                        </th>
                                        <th>P</th>
                                        <th>PIC</th>
                                        <th>Repair Remark</th>
                                        <th>Created Date</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="Form.cshtml" />

<script>

    function editData(id){
        $.ajax({
            method: "GET",
            url: "JobDetails/edit",
            dataType: 'json',
            data: { id:id },
        }).done(function (msg) { 
            $("#mform").modal('show');

            //column-1
            $("#wono").val(msg[0].wono);
            $("#compqty").val(msg[0].qtycomponent);
            $("#parentwo").val(msg[0].parentwo);
            $("#jobdesc").val(msg[0].jobdesc);
            $("#worktype").val(msg[0].worktypeid);
            $("#unitno").val(msg[0].unitnumber);
            $("#unitdesc").val(msg[0].unitdesc);
            $("#mainttype").val(msg[1].mainttype);
            $("#standreq").val(msg[0].stand);
            $("#priority").val(msg[0].jobpriority);
            $("#currentloc").val(msg[0].currentlocation);
            $("#exstore").val(msg[0].storeid);
            $("#reasontype").val(msg[0].reasontypeid);
            $("#repairtype").val(msg[0].repairtype);
            $("#prevwo").val(msg[0].previouswO);
            $("#comphour").val(msg[0].comphour);
            $("#life").val(msg[0].lifetype);
            $("#currentwdv").val(msg[0].currentwdv);
            $("#jptype").val(msg[0].jptype);
            $("#jpdatetime").val(msg[0].jpdatetime);
            $("#receivedby").val(msg[0].jpreceiveby);
            $("#anno").val(msg[0].arrivalan);
            $("#jobsourceid").val(msg[0].jobsourceid);
            $("#sourcepic").val(msg[0].sourcepic);
            $("#tcipartno").val(msg[0].tcipartno);
            searchtcipn();
            loadeqclass($("#tcipartno").val());
            $("#equipclass").val(msg[0].equipclass);

            //column-2
            $("#oripromisedDate").val(msg[0].promiseddate);
            $("#revpromisedDate").val(msg[0].revpromisedDate);
            $("#tIncomingdate").val(msg[3].incomingdate);
            $("#TPromisedStartDate").val(msg[3].promisedstartdate);
            $("#tActStartDate").val(msg[3].actualstartdate);
            $("#TOverRunStart").val(msg[3].overrunstart);
            $("#TPromisedCompleted").val(msg[3].promisedcompleted);
            $("#TActCompletedDate").val(msg[3].actcompleteddate);
            $("#TOverRunComplete").val(msg[3].overruncomplete);
            $("#TSchedHour").val(msg[2].schedhour);
            $("#TActHour").val(msg[2].acthour);
            $("#TOverRunHour").val(msg[2].ovrrunhour);
            $("#tEstLabHour").val(msg[4].labtarget);
            $("#TTimeSheetLab").val(msg[5].actlabhour);
            $("#tVarLabHour").val((msg[4].labtarget) - (msg[5].actlabhour));

            //JobPackage
            populateIDAttachment(id, "1");
        });
    }

    function populateIDAttachment(id, idfile){
        $.ajax({
            method: "GET",
            url: "JobDetails/getIDAttahcment",
            dataType: 'json',
            data: { id: id, idfile: idfile },
            success: function (response) {
                if (idfile == "1") {
                    $("#tIntWOSheet").val(response[0].id);
                }
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    function searchtcipn(){
        var tcipn = $("#tcipartno").val();
        if (tcipn === "") {
            return; // Menghentikan proses jika tcipn kosong
        }
        $.ajax({
            url: 'JobDetails/searchtcipn',
            dataType: 'json',
            data: { tcipn: tcipn},
            success: function (response) {
                $("#tcidesc").val(response[0].tcidesc);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    function loadeqclass(tcipartno) {
        if (tcipartno === "") {
            return; // Menghentikan proses jika tcipn kosong
        }
        $.ajax({
            url: 'JobDetails/loadeqclass',
            dataType: 'json',
            data: { tcipartno: tcipartno },
            success: function (response) {
                var selectElement = document.getElementById('equipclass');
                selectElement.innerHTML = '';

                response.forEach(function (item) {
                    var option = document.createElement('option');
                    option.value = item.equipclass;
                    option.text = item.equipclassdesc;

                    selectElement.appendChild(option);
                });
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    $("#btcisearch").on("click", function () {
        searchtcipn();
    });

    $(document).ready(function () {
        loadData();

        $("#equipclass").on("change", function () {
            equipclassdesc();
        });

        $('#bFilter').on("click", function () {
            loadData();
        });

        function loadData() {
            $('#loadingOverlay').show();
            $.ajax({
                method: "GET",
                url: "JobDetails/LoadData",
                dataType: 'json',
                data: $("#formfilter").serialize()
            }).done(function (msg) {
                $('.datatablenon').DataTable().clear().destroy();
                $('.datatablenon').DataTable({
                    searching: false,
                    lengthChange: false,
                    sorting: false,
                    responsive: true,
                    pageLength: 10,
                    data: msg,
                    columns: [
                        { "data": "editcmd" },
                        { 
                            "data": "wono",
                            "render": function (data, type, row) {
                                return row.wono + "<hr class='mb-0 mt-0'/>" + row.wodesc;
                            }
                        },
                        { "data": "parentwo" },
                        { "data": "mainttype" },
                        { "data": "stand" },
                        { "data": "wostatus" },
                        { "data": "woage" },
                        { 
                            "data": "jobstatusdesc",
                            "render": function (data, type, row) {
                                return row.jobstatusdesc + "<hr class='mb-0 mt-0'/>" + row.lastactivity + "<hr class='mb-0 mt-0'/>" + row.subdescription;
                            }
                        },
                        { "data": "jobpriority" },
                        { "data": "jobstatuspic" },
                        { "data": "remark" },
                        { "data": "createddate" },
                    ]
                });

                $("#offAdd").offcanvas("hide");
                $('#loadingOverlay').hide();
            });
        }
    });
</script>