@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<table class="table table-borderless" border="0" style="font-family: Arial;border-color:white">
    <tr>
        <td style="width: 25%">
            <img src="~/images/Thiess.png" style="max-width: 175px;" />
        </td>
        <td style="width: 50%">
            <div class="d-flex flex-column align-items-center">
                <div style="font-size: 24px" class="fw-bold">FINAL INSPECTION REPORT</div>
                <div style="font-size: 14px" class="fw-bold">EXTERNAL / INTERNAL REPAIR & WARRANTY</div>
            </div>
        </td>
        <td style="width: 25%">
            <div></div>
        </td>
    </tr>
</table>