@{
}

<div class="col-md-3 border p-0">
    <table class="table table-condensed table-sm mb-0">
        <tr>
            <td colspan="2" class="table-light fw-bold">
                Component Supply Information
            </td>
        </tr>
        <tr>
            <td style="width:35%">Comp. Supply Date</td>
            <td>
                <input class="form-control form-control-sm" id="compsupplydate" name="compsupplydate" />
            </td>
        </tr>
        <tr>
            <td>Comp AN</td>
            <td>
                <input class="form-control form-control-sm" id="compan" name="compan" />
            </td>
        </tr>
    </table>
    <table class="table table-condensed table-sm mb-0">
        <tr>
            <td colspan="2" class="table-light fw-bold">
                Completion Information
            </td>
        </tr>
        <tr>
            <td style="width:35%">JP Send Date <span class="text-danger">*</span></td>
            <td>
                <input class="form-control form-control-sm" id="jpsenddate" name="jpsenddate" />
            </td>
        </tr>
        <tr>
            <td>AN No <span class="text-danger">*</span></td>
            <td>
                <input class="form-control form-control-sm" id="sendanno" name="sendanno" />
            </td>
        </tr>
    </table>
    <table class="table table-condensed table-sm mb-0">
        <tr>
            <td colspan="2" class="table-light fw-bold">
                Status Information
            </td>
        </tr>
        <tr>
            <td style="width:35%">Change Status</td>
            <td>
                <select class="form-control form-control-sm">
                    <option value="">--blank--</option>
                </select>
            </td>
        </tr>
    </table>
    <table class="table table-condensed table-sm mb-0">
        <tr>
            <td colspan="2" class="table-light fw-bold">
                Remark
            </td>
        </tr>
        <tr>
            <td>
                <div class="mb-3">
                    <button class="btn btn-primary btn-sm">
                        <i class="fa fa-plus"></i> ADD
                    </button>
                </div>
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Remark</th>
                            <th>Remark Date<hr class="mt-0 mb-0"/> Remark By</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </td>
        </tr>
    </table>
</div>