@*
    
*@
@{
    @using System.Data;
    ViewData["Title"] = "Repair Advice History";
}

@* <script type="text/javascript">
    function showOverlay() {
        var overlay = document.createElement('div');
        overlay.className = 'overlay';

        var spinner = document.createElement('div');
        spinner.className = 'spinner';

        var text = document.createElement('div');
        text.className = 'text';
        text.innerHTML = 'Processing Data...';

        overlay.appendChild(spinner);
        overlay.appendChild(text);
        document.body.appendChild(overlay);

        setTimeout(function () {
            hideOverlay();
        }, 3000);

        return true;
    }
    function hideOverlay() {
        var overlay = document.querySelector('.overlay');
        if (overlay) {
            document.body.removeChild(overlay);
        }
    }
</script> *@

<form id="rprAdviceHistoryForm" method="post" enctype="multipart/form-data" asp-controller="RprAdviceHistory">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Repair Advice Change History</h5>
                </div>
                <div class="card-body">
                    <div class="mb-2">
                        <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                            <i class="fa fa-filter me-2"></i> FILTER
                        </button>
                    </div>

                    <!-- right offcanvas -->
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" data-bs-scroll="true" aria-labelledby="offcanvasScrolling">
                        <div class="offcanvas-header">
                            <span id="offcanvasRightLabel" class="form-label">
                                <i class="fa fa-filter"></i> Filter
                            </span>
                            <button type="button" class="btn-close text-reset btn-sm" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="mb-2">
                                <label class="form-label">Job ID</label>
                                <input type="Text" class="form-control form-control-sm" name="jobid" id="jobid" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Parent WO</label>
                                <input type="Text" class="form-control form-control-sm" name="parentwo" id="parentwo" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Child WO</label>
                                <input type="Text" class="form-control form-control-sm" name="childwo" id="childwo" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Item Change</label>
                                <input type="Text" class="form-control form-control-sm" name="itemchange" id="itemchange" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Desc Change</label>
                                <input type="Text" class="form-control form-control-sm" name="descchange" id="descchange" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Job Status</label>
                                <input type="Text" class="form-control form-control-sm" name="jobstatus" id="jobstatus" />
                            </div>
                            <div class="mb-2">
                                <label class="form-label">Mod By</label>
                                <input type="Text" class="form-control form-control-sm" name="modby" id="modby" />
                            </div>
                            <hr />
                            <div class="mb-2">
                                <div class="d-flex" style="gap: 10px;">
                                    <button type="submit" id="filterButton" class="btn btn-sm btn-primary">
                                        <i class="fa fa-search"></i> Search
                                    </button>
                                    <button type="button" id="resetButton" class="btn btn-sm btn-danger">
                                        Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="myTable" class="table table-sm datatable mb-0 table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>JobID</th>
                                    <th>ParentWO</th>
                                    <th>ChildWO</th>
                                    <th>ItemChange</th>
                                    <th>DescChange</th>
                                    <th>JobStatus</th>
                                    <th>ModDate</th>
                                    <th>ModBy</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        var tempData = @Html.Raw(Json.Serialize(Model));
        loadIntitalData();

        $('#filterButton').click(function (e) {
            e.preventDefault();
            loadData();
        });

        $('#resetButton').click(function (e) {
            e.preventDefault();
            resetData();
        });

        function extractData() {
            var data = {};

            data.jobid = $("#jobid").val();
            data.parentwo = $("#parentwo").val();
            data.childwo = $("#childwo").val();
            data.itemchange = $("#itemchange").val();
            data.descchange = $("#descchange").val();
            data.jobstatus = $("#jobstatus").val();
            data.modby = $("#modby").val();

            return data;
        }

        function loadData() {
            var extractedData = extractData();

            // Tampilkan loading overlay
            $('#loadingOverlay').show();

            $.ajax({
                url: '@Url.Action("LoadData", "RprAdviceHistory")',
                type: 'GET',
                dataType: 'json',
                data: extractedData,
                success: function (test) {
                    //console.log(test);
                    $('.datatable').DataTable().clear().destroy(); // Clear and destroy the existing DataTable
                    $('.datatable').DataTable({
                        searching: false,
                        lengthChange: false,
                        responsive: true,
                        pageLength: 20,
                        data: test, // The data received from the AJAX request
                        columns: [
                            { "data": "id" },
                            { "data": "jobid" },
                            { "data": "parentwo" },
                            { "data": "childwo" },
                            { "data": "itemchange" },
                            { "data": "descchange" },
                            { "data": "jobstatus" },
                            { "data": "moddate" },
                            { "data": "modby" },
                        ]
                    });

                    // Sembunyikan loading overlay setelah data dimuat
                    $("#offcanvas").offcanvas("hide");
                    $('#loadingOverlay').hide();

                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        function resetData() {
            $("#rprAdviceHistoryForm")[0].reset();
            $(".select2").val("").trigger("change");
            loadData();
        }

        function loadIntitalData() {
            $('.datatable').DataTable({
                searching: false,
                lengthChange: false,
                responsive: true,
                pageLength: 20,
                data: tempData,
                columns: [
                    { "data": "id" },
                    { "data": "jobid" },
                    { "data": "parentwo" },
                    { "data": "childwo" },
                    { "data": "itemchange" },
                    { "data": "descchange" },
                    { "data": "jobstatus" },
                    { "data": "moddate" },
                    { "data": "modby" },
                ]
            });
            $("#offcanvas").offcanvas("hide");
        }

    });
</script>