@{
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Plant Web Applications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Pichforest" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link href="~/costume/cssku.css" rel="stylesheet" type="text/css" />
    <link href="~/css/StyleSheet1.css" id="app-style" rel="stylesheet" type="text/css" />


    <script src="~/costume/js/jquery-3.5.1.min.js"></script>

    <link href="~/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet">
    <link href="~/costume/datatable/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/costume/datatable/buttons.dataTables.min.css" rel="stylesheet">
    <link href="~/costume/datatable/buttons.foundation.min.css" rel="stylesheet">
    <script src="~/costume/datatable/datatables.min.js"></script>
    <script src="~/costume/datatable/dataTables.bootstrap5.min.js"></script>
    <script src="~/costume/datatable/dataTables.buttons.min.js"></script>
    <script src="~/costume/datatable/buttons.html5.min.js"></script>

    <link href="~/libs/flatpickr/flatpickr.min.css" rel="stylesheet">

    <!-- One of the following themes -->
    <link rel="stylesheet" href="~/libs/simonwep/pickr/themes/classic.min.css" /> <!-- 'classic' theme -->

    <link href="~/costume/select2/select2.min.css" rel="stylesheet" />
    <script src="~/costume/select2/select2.min.js"></script>

    <script src="~/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/costume/Utility.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row min-vh-100 flex-center g-0">
            <div class="col-sm-3 col-md-3">
                <div class="card">
                    <div class="card-body p-4 p-sm-5">
                        <div class="row flex-between-center mb-2">
                            <div class="col-auto">
                                <h5 class="mb-0">Log in</h5>
                            </div>
                            <div class="col-auto fs--1 text-600">
                                <small class="text-dark-emphasis fs--2">
                                    or <a href="/register">Create an account</a>
                                </small>
                            </div>
                        </div>
                        <form method="POST" action="#">
                            <div class="mb-2">
                                <input class="form-control form-control-sm" placeholder="Email address" name="email" id="email" type="email" autocomplete="off" required />
                            </div>
                            <div class="mb-2">
                                <input class="form-control form-control-sm" placeholder="Password" name="password" id="password" type="password" required />
                            </div>
                            <div class="mb-2">
                                <span class="text-danger">Tesr</span>
                            </div>
                            <div class="mb-2">
                                <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">
                                    <i class="fas fa-sign-in-alt me-2"></i>Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenujs/metismenujs.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/feather-icons/feather.min.js"></script>
</body>
</html>