@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<div class="d-flex flex-row justify-content-between align-items-center ">
    <div class="d-flex flex-column fs-4 fw-semibold">
        <div>Balikpapan</div>
        <div>PRO</div>
    </div>
    <div class="d-flex flex-column align-items-center">
        <div class="fs-4 fw-semibold">PT. Thiess Contractor Indonesia</div>
        <div>Goods Outwards or Material Transfer</div>
    </div>
    <img src="~/images/Thiess.png" style="max-width: 150px;" />
</div>

<div class="d-flex flex-row align-self-end mt-2" style="margin-right: 100px;">
    <div>ADVICE NOTE NO:</div>
    @if (ViewBag.detail != null && ViewBag.detail.Rows.Count > 0)
    {
        <div class="text-danger ms-2">@ViewBag.detail.Rows[0]["DispatchID"]</div>
    }
    <input type="Text" class="col-8 d-none" name="reportID" id="reportID" />
</div>