@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    ViewData["Title"] = "Advice Note";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<div class="d-flex flex-column">
    <table class="table table-borderless" border="0" style="font-family: Arial;border-color:white">
        <tr>
            <td style="width: 33%">
                Assign Wo :
            </td>
            <td style="width: 33%">
                726732
            </td>
            <td style="width: 33%">
                187832
            </td>
        </tr>
    </table>
</div>

