@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Approval Details</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Buyer</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">App Date</div>
                <div class="col-10 row" style="gap: 10px;">
                    <input type="Text" class="col-8 datepicker-basic" style="max-width: 280px;" />
                    <input type="text" class="col-4" />
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 d-flex align-items-center" style="gap: 10px;">
                    <div class="fw-bold">1st</div>
                    <input class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <div class="col-10 row" style="gap: 15px;">
                    <input type="text" class="col-3" />
                    <input type="text" class="col-3" />
                    <input type="text" class="col-3" />
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 d-flex align-items-center" style="gap: 10px;">
                    <div class="fw-bold">2nd</div>
                    <input class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <div class="col-10 row" style="gap: 15px;">
                    <input type="text" class="col-3" />
                    <input type="text" class="col-3" />
                    <input type="text" class="col-3" />
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 d-flex align-items-center" style="gap: 10px;">
                    <div class="fw-bold">3rd</div>
                    <input class="form-check-input mt-0" type="checkbox" value="">
                </div>
                <div class="col-10 row" style="gap: 15px;">
                    <input type="text" class="col-3" />
                    <input type="text" class="col-3" />
                    <input type="text" class="col-3" />
                </div>
            </div>
        </div>
    </div>
</div>