@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Document Information</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Qoute No</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Job No</div>
                <input type="text" class="col-3" />
                <div class="col-2 fs-6">Supplier Serial Number</div>
                <input type="text" class="col-3" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Qoute Date</div>
                <input type="text" class="col-3" />
                <div class="col-2 fs-6">WCS Date</div>
                <input type="text" class="col-3" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Qoute Rev.Date</div>
                <input type="text" class="col-3" />
                <div class="col-2 fs-6">Qoute Rev.No</div>
                <input type="text" class="col-3" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Doc Type</div>
                <select name="" class="col-6">
                    <option value="">PEX</option>
                    <option value="1">Stock</option>
                    <option value="2">Direct Change</option>
                    <option value="3">Consigntment</option>
                </select>
                <div class="col-4">
                    <p class="fst-italic text-primary" style="font-size: 1em">Reason Type Is Moved Bellow Supplier</p>
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">FAR/CCR Date</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Log AN Date</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Log AN Number</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">PER AN Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
                <div class="col-1"></div>
                <input type="text" class="col-2" />
                <div class="col-2">3</div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">EG - EI Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
                <div class="col-1">EGEI</div>
                <input type="text" class="col-2" />
                <div class="col-2">2</div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">EI - EK Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
                <div class="col-1">EIEK</div>
                <input type="text" class="col-2" />
                <div class="col-2">7</div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">EK - EP Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
                <div class="col-1">EKEP</div>
                <input type="text" class="col-2" />
                <div class="col-2">2</div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Dispute Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Disp Comp.Date</div>
                <input type="text" class="col-2" />
                <input type="text" class="col-2 ms-2" disabled />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Location Hold</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Current Status</div>
                <input type="text" class="col-10" disabled/>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Current Status</div>
                <select name="" class="col-4">
                    <option value="">PEX</option>
                    <option value="1">Stock</option>
                    <option value="2">Direct Change</option>
                    <option value="3">Consigntment</option>
                </select>
                <input type="text" class="col-5 ms-2" disabled />
            </div>
        </div>
    </div>
</div>