@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Repair Status/Allocation</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6"></div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Repair Advice</div>
                <select name="" class="col-10">
                    <option value="">PEX</option>
                    <option value="1">Stock</option>
                    <option value="2">Direct Change</option>
                    <option value="3">Consigntment</option>
                </select>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Hold Until</div>
                <input type="Text" class="col-10 datepicker-basic" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-2">Remark</div>
                <textarea class="form-control col-10" rows="5"></textarea>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Last Change</div>
                <div class="col-10 d-flex" style="gap: 10px;">
                     <input type="text" class="form-control datepicker-basic ms-n2" style="max-width: 280px;" />
                     <input type="text" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>