@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <p class="fs-5">Job Details</p>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Parent Wo*</div>
                <input type="text" class="col-8" />
                <button type="button" class="btn btn-primary col-2 ms-2" style="max-width: 80px;">Find</button>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Comp.Desc</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Maint Type</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Comp Type</div>
                <select name="" class="col-10">
                    <option value="">PEX</option>
                    <option value="1">Stock</option>
                    <option value="2">Direct Change</option>
                    <option value="3">Consigntment</option>
                </select>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Unit No</div>
                <input type="text" class="col-10" />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Unit Desc</div>
                <textarea class="col-10" aria-label="With textarea" disabled></textarea>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Unit Location</div>
                <textarea class="col-10" aria-label="With textarea" disabled></textarea>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">TCI Part No</div>
                <input type="text" class="col-8" />
                <button type="button" class="btn btn-primary col-2 ms-2" style="max-width: 80px;">Find</button>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">TCI Desc</div>
                <textarea class="col-10" aria-label="With textarea" disabled></textarea>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">TCI Desc2</div>
                <textarea class="col-10" aria-label="With textarea" disabled></textarea>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Routable Stock</div>
                <input type="text" class="col-8" disabled />
                <input type="Text" class="col-2 datepicker-basic ms-2" style="max-width: 80px;" disabled />
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Repair By</div>
                <select name="" class="col-10">
                    <option value="">PEX</option>
                    <option value="1">Stock</option>
                    <option value="2">Direct Change</option>
                    <option value="3">Consigntment</option>
                </select>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Supervisor</div>
                <select name="" class="col-10">
                    <option value="">PEX</option>
                    <option value="1">Stock</option>
                    <option value="2">Direct Change</option>
                    <option value="3">Consigntment</option>
                </select>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Request P</div>
                <select name="" class="col-10">
                    <option value="">PEX</option>
                    <option value="1">Stock</option>
                    <option value="2">Direct Change</option>
                    <option value="3">Consigntment</option>
                </select>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row align-items-center">
                <div class="col-2 fs-6">Reason Type</div>
                <select name="" class="col-10">
                    <option value="">PEX</option>
                    <option value="1">Stock</option>
                    <option value="2">Direct Change</option>
                    <option value="3">Consigntment</option>
                </select>
            </div>
        </div>
    </div>
</div>
