@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <partial name="Component/_warrantyDetails.cshtml" />
        <partial name="Component/_repairStatusOrAllocation.cshtml" />
        <partial name="Component/_remark.cshtml" />
        <partial name="Component/_statusHistory.cshtml" />
        <partial name="Component/_attachment.cshtml" />
        <partial name="Component/_inspectionResult.cshtml" />
        <partial name="Component/_supplierReceivingInformation.cshtml" />
    </div>
</div>