@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	@using System.Data;
	ViewData["Title"] = "Component Evaluation EDIT";
}

<partial name="Form/_evalSummaryModal.cshtml" />

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header d-flex flex-row justify-content-between align-items-center">
				<h5 class="card-title">Component Evaluation EDIT</h5>
				<a class="btn btn-sm btn-primary" id="btnCreateCESummary" data-bs-toggle="modal" data-bs-target="#evalSummaryModal">EVAL SUMMARY</a>
			</div>
			<div class="card-body d-flex flex-column">
				<div class="d-flex ">
					<partial name="Form/FirstColumn.cshtml" />
					<partial name="Form/SecondColumn.cshtml" />
					@* BUTTON *@
					<div class="align-items-center mt-5 d-flex" style="gap: 10px;">
						<div class="align-items-center d-flex" style="gap: 10px;">
							<button type="submit" class="btn btn-sm btn-primary">
								COPY TO JDE
							</button>
							<button id="btnPrint" onclick="gotoReport()" type="button" class="btn btn-sm btn-primary">
								PRINT
							</button>
							<button type="submit" class="btn btn-sm btn-primary">
								PRINT EVAL
							</button>
							<div class="form-check">
								<input class="form-check-input" type="checkbox">
								<label class="form-check-label">
									To File
								</label>
							</div>
						</div>
						<div class="ms-auto">
							<button type="submit" id="cSave" class="btn btn-sm btn-primary">
								SAVE
							</button>
							<a class="btn btn-sm btn-primary" href="/JobDispatch">
								CLOSE
							</a>
						</div>
					</div>
				</div>
				@if (TempData.Peek("Msg") != null)
				{
					@section Scripts
	{
					<script>
						Swal.fire({
							title: '@TempData.Peek("Msg")',
								icon: '@TempData.Peek("Stat")'
							});
						</script>
					}
				}
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function () {
		// Report Function
		function gotoReport() {
			console.log("goto report clicked");
			var url = window.location.href;
			var ID = url.substring(url.lastIndexOf('/') + 1);
			window.location.href = '/ComponentEvaluation/Report';
		};

		$("#btnPrint").on("click", function () {
			gotoReport();
		});

		function handleCSave() {
			var url = window.location.href;
			var ID = url.substring(url.lastIndexOf('/') + 1);
			var WONO = $("#tWono").val();
			var UnitNumber = $("#tUnitNumber").val();
			var PCAMID = $("#tPCAMID").val();
			var PCAMRequired = $("#tPCAMRequired").val();
			var PCAMStatusID = $("#tPCAMStatusID").val();
			var PCAMStartDate = $("#tPCAMStartDate").val();
			var PCAMCompletedDate = $("#tPCAMCompletedDate").val();
			var MaintType = $("#tMaintType").val();
			var BdgtHours = $("#tBdgtHours").val();
			var SMU = $("#tSMU").val();
			var Complaint = $("#tComplaint").val();
			var FlatRate = $("#tFlatRate").val();
			var OROP = $("#tOROP").val();
			var ExcPart = $("#tExcPart").val();
			var PartCost = $("#tPartCost").val();
			var LabourCost = $("#tLabourCost").val();
			var OtherCost = $("#tOtherCost").val();
			var TCISupply = $("#tTCISupply").val();
			var SavingCost = $("#tSavingCost").val();
			var PriceType = $("#tPriceType").val();
			var Price = $("#tPrice").val();
			var CurrID = $("#tCurrID").val();
			var StripDown = $("#tStripDown").val();
			var SysTypeID = "TEST";
			var RootCauseCode = $("#tRootCauseCode").val();
			var SysFailCode = $("#tSysFailCode").val();
			var RecCode = $("#tRecCode").val();
			var M1 = $("#tM1").val();
			var M2 = $("#tM2").val();
			var M3 = $("#tM3").val();
			var M4 = $("#tM4").val();
			var M5 = $("#tM5").val();
			var M6 = $("#tM6").val();
			var M7 = $("#tM7").val();
			var M8 = $("#tM8").val();
			var M9 = $("#tM9").val();
			var M10 = $("#tM10").val();
			var M11 = $("#tM11").val();
			var M12 = $("#tM12").val();
			var M13 = $("#tM13").val();
			var M14 = $("#tM14").val();
			var M15 = $("#tM15").val();
			var M16 = $("#tM16").val();
			var M17 = $("#tM17").val();
			var M18 = $("#tM18").val();
			var M19 = $("#tM19").val();
			var M20 = $("#tM20").val();
			var M21 = $("#tM21").val();
			var ActionTaken = $("#tActionTaken").val();
			var EvalByID = $("#tEvalByID").val();
			var EvalDate = $("#tEvalDate").val();
			var EvalCode = $("#tEvalCode").val();
			var PSName = $("#tPSName").val();
			var PSDate = $("#tPSDate").val();
			var POSName = $("#tPOSName").val();
			var POSDate = $("#tPOSDate").val();
			var PMName = $("#tPMName").val();
			var PMDate = $("#tPMDate").val();
			var Conclusion = $("#tConclusion").val();
			var ModBy = $("#tModBy").val();
			var ModDate = $("#tModDate").val();
			var JobID = $("#tJobID").val();
			var ConsCost = $("#tConsCost").val();
			var SupplyDate = $("#tSupplyDate").val();
			var InstallDate = $("#tInstallDate").val();
			var RemoveDate = $("#tRemoveDate").val();
			var Remark = $("#tRemark").val();

			$.ajax({
				url: '@Url.Action("Save", "ComponentEvaluation")',
				method: 'POST',
				dataType: 'json',
				data: {
					ID: ID,
					WONO: WONO,
					UnitNumber: UnitNumber,
					PCAMID: PCAMID,
					PCAMRequired: PCAMRequired,
					PCAMStatusID: PCAMStatusID,
					PCAMStartDate: PCAMStartDate,
					PCAMCompletedDate: PCAMCompletedDate,
					MaintType: MaintType,
					BdgtHours: BdgtHours,
					SMU: SMU,
					Complaint: Complaint,
					FlatRate: FlatRate,
					OROP: OROP,
					ExcPart: ExcPart,
					PartCost: PartCost,
					LabourCost: LabourCost,
					OtherCost: OtherCost,
					TCISupply: TCISupply,
					SavingCost: SavingCost,
					PriceType: PriceType,
					Price: Price,
					CurrID: CurrID,
					StripDown: StripDown,
					SysTypeID: SysTypeID,
					RootCauseCode: RootCauseCode,
					SysFailCode: SysFailCode,
					RecCode: RecCode,
					M1: M1,
					M2: M2,
					M3: M3,
					M4: M4,
					M5: M5,
					M6: M6,
					M7: M7,
					M8: M8,
					M9: M9,
					M10: M10,
					M11: M11,
					M12: M12,
					M13: M13,
					M14: M14,
					M15: M15,
					M16: M16,
					M17: M17,
					M18: M18,
					M19: M19,
					M20: M20,
					M21: M21,
					ActionTaken: ActionTaken,
					EvalByID: EvalByID,
					EvalDate: EvalDate,
					EvalCode: EvalCode,
					PSName: PSName,
					PSDate: PSDate,
					POSName: POSName,
					POSDate: POSDate,
					PMName: PMName,
					PMDate: PMDate,
					Conclusion: Conclusion,
					ModBy: ModBy,
					ModDate: ModDate,
					JobID: JobID,
					ConsCost: ConsCost,
					SupplyDate: SupplyDate,
					InstallDate: InstallDate,
					RemoveDate: RemoveDate,
					Remark: Remark
				}
			});
		}

		$("#cSave").on("click", function () {
			handleCSave();
		});

		$('#btnCreateCESummary').on('click', function (e) {
			e.preventDefault();
			var url = window.location.href;
			var ID = url.substring(url.lastIndexOf('/') + 1);
			var WONO = $("#tWono").val();

			console.log("btnCreateCESummary", WONO);

			$.ajax({
				url: '@Url.Action("CreateCESummary", "ComponentEvaluation")',
				method: "GET",
				data: { ID: ID, WONO: WONO },
				success: function (response) {
					var outputText = response[0].output;
					outputText = outputText.replace(/\?/g, '<br>');
					$('#evalSummaryText').html(outputText);
				},
				error: function (error) {
					console.error("Error retrieving CESummary:", error);
				}
			});
		});


	});
</script>