@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<style>
    .font-label {
        background-color: lightgray;
        font-size: 12px;
    }

    .border {
        border: 1px solid black;
    }

    .border-grey {
        border: 1px solid grey;
    }

    .font-h3 {
        font-size: 12px;
        font-weight: 600;
    }

    .negative-top {
        margin-top: -15px;
    }
</style>

<div class="d-flex flex-row align-items-center justify-content-between">
    <div>COMPONENT EVALUATION by EXTERNAL REPAIRS BSF</div>
    <img src="~/images/Thiess.png" style="max-width: 150px;" />
</div>
