@{
    @using System.Data;
    ViewData["Title"] = "Advice Note";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<style>
    .font-label {
        background-color: lightgray;
        font-size: 16px;
    }

    .border {
        border: 1px solid black;
    }

    .border-grey {
        border: 1px solid grey;
    }

    .font-h3 {
        font-size: 14px;
        font-weight: 600;
    }

    .negative-top {
        margin-top: -15px;
    }
</style>

<div class="d-flex flex-row justify-content-between mt-n1" style="font-size: 9px;">
    @* first column *@
    @* <partial name="_FirstColumn.cshtml" /> *@
    @* second column *@
    @* <partial name="_SecondColumn.cshtml" /> *@
    <table class="table table-borderless" border="0" style="font-family: Arial;border-color:white">
        <tr>
            <td style="width: 40%">
                <partial name="Partial/_FirstColumn.cshtml" />
            </td>
            <td style="width: 60%">
                <partial name="Partial/_SecondColumn.cshtml" />
            </td>
        </tr>
    </table>
    @* first column *@
    @* second column *@
</div>