@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<hr />
<div class="d-flex align-items-center justify-content-between">
    <div>2023-12</div>
    <div>Page 1 of 1</div>
    <div>test</div>
</div>