@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}

<div class="d-flex flex-row align-items-center justify-content-between">
    <div>COMPONENT EVALUATION by EXTERNAL REPAIRS BSF</div>
    <img src="~/images/Thiess.png" style="max-width: 150px;" />
</div>
