<!--<div class="row">
    <div class="col-3 green-border">
        <p class="fs-4 fw-bold mt-1">Parent WO</p>
        <p class="fs-5 mt-n2">1656021</p>
    </div>
    <div class="col-3 border-left">
        <p class="fs-4 fw-bold mt-1">Offsite WO</p>
        <p class="fs-5 mt-n2">1656021</p>
    </div>
    <div class="col-3 border-left">
        <p class="fs-4 fw-bold mt-1">AN NO.</p>
        <p class="fs-5 mt-n2">1656021</p>
    </div>
    <div class="col-3 border-left">
        <p class="fs-4 fw-bold mt-1">AN Date.</p>
        <p class="fs-5 mt-n2">1656021</p>
    </div>
</div>
<div class="row">
    <div class="col-9 border-y">
        <p class="fs-4 fw-bold mt-1">Comp. Description</p>
        <p class="fs-5 mt-n2">1656021</p>
        <p class="fs-5"></p>
    </div>
    <div class="col-3" style="border-right: 5px solid #00ff00">
        <p class="fs-4 fw-bold mt-1 text-center">Ex Store</p>
        <p class="fs-5 mt-n2 text-center">1656021</p>
        <p class="fs-5"></p>
    </div>
</div>
<div class="row">
    <div class="col-9 border-yr">
        <p class="fs-4 fw-bold mt-1">Unit Description</p>
        <p class="fs-5 mt-n2">1656021</p>
        <p class="fs-5">1656021</p>
    </div>
    <div class="col-3 border-left">
        <p class="fs-4 fw-bold mt-1 text-center">Status Comp</p>
        <p class="fs-5 mt-n2 text-center">1656021</p>
        <p class="fs-5"></p>
    </div>
</div>
<div class="row">
    <div class="col-12 border-yr">
        <div class="fs-1 fw-bold text-center" style="color: #00ff00; margin-bottom: 60px;">HEXINDO ADIPERKASA PT</div>
    </div>
</div>-->
