@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* <div class="container overflow-hidden">
    <div class="row align-items-center">
    </div>
</div> *@
<div class="d-flex flex-column">
    <div class="d-flex">
        <div class="col border">
            <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Dispatch Type*</div>
                        <select name="" class="col-7">
                            <option value=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                        </select>
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">ShipmentDate</div>
                        <input type="Text" class="col-7 datepicker-basic" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Dispatch Type*</div>
                        <select name="" class="col-5">
                            <option value=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                        </select>
                        <input type="text" class="col-2 ms-2" style="max-width: 30px;" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Attention Address</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Attention Name</div>
                        <select name="" class="col-7">
                            <option value=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                        </select>
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Attention Email</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
            </div>
        </div>
        @* 2 section *@
        <div class="col border">
            <div class="m-3 d-flex flex-column fw-bold" style="gap: 12px;">
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Project</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Job No</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Manifest No</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Transport Mode</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Dispatch From*</div>
                        <select name="" class="col-7">
                            <option value=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                        </select>
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Dispatch By</div>
                        <select name="" class="col-7">
                            <option value=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        @* 3 section *@
        <div class="col border">
            <div class="m-3 d-flex flex-column fw-bold" style="gap: 12px;">
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Dispatch Email</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5 datepicker-basic" style="font-size: 12px;">Dispatch Date</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Handled By</div>
                        <select name="" class="col-7">
                            <option value=""></option>
                            <option value="1"></option>
                            <option value="2"></option>
                        </select>
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5 datepicker-basic" style="font-size: 12px;">Handled Date</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Received By</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5 datepicker-basic" style="font-size: 12px;">Received Date</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
            </div>
        </div>
        @* 4 section *@
        <div class="col border">
            <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">StatusID</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">Advice Note</div>
                        <input type="text" class="col-4" />
                        <button type="button" class="col-3 ms-2 btn btn-primary" style="max-width: 50px; font-size: 12px;">
                            find
                        </button>
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">RegisterBy</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5 datepicker-basic" style="font-size: 12px;">RegisterDate</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5" style="font-size: 12px;">ModBy</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
                <div class="container overflow-hidden">
                    <div class="row align-items-center">
                        <div class="col-5 datepicker-basic" style="font-size: 12px;">ModDate</div>
                        <input type="text" class="col-7" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="align-self-end m-3 d-flex" style="gap: 10px;">
        <button type="button" class="btn btn-sm btn-primary">
            SAVE
        </button>
        <button type="button" class="btn btn-sm btn-primary">
            CLOSE
        </button>
    </div>
</div>


