@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
    // viewdata["title"] = "external repair job history";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">External Repair Job History Form</h5>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">1</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">2</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent" style="font-size: 12px;">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                    <div class="d-flex" style="font-size: 12px;">
                        <partial name="Form/_firstColumn.cshtml" />
                        <partial name="Form/_secondColumn.cshtml" />
                    </div>
                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <div class="d-flex" style="font-size: 12px;">
                        <partial name="Form/_thirdColumn.cshtml" />
                        <partial name="Form/_fourthColumn.cshtml" />
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end m-3" style="gap: 10px;">
                <button type="button" class="btn btn-primary" style="min-width: 85px;">Change WO</button>
                <button type="button" class="btn btn-primary" disabled style="min-width: 85px;">PRF</button>
                <button type="button" class="btn btn-primary" style="min-width: 85px;">CE</button>
                <button type="button" class="btn btn-primary" style="min-width: 85px;">TAG</button>
                <button type="button" class="btn btn-primary" style="min-width: 85px;">SAVE</button>
                <button type="button" class="btn btn-primary" style="min-width: 85px;">CLOSE</button>
            </div>
        </div>
    </div>
</div>