@*

*@
@{
    @using System.Data;
    // viewdata["title"] = "external repair job history";
    bool isModEdit = ViewBag.ModEdit != null && (bool)ViewBag.ModEdit;
    string isEdit = isModEdit ? "" : "";
    // string isEdit = isModEdit ? "" : "disabled";

    bool isModAdd = ViewBag.ModAdd != null && (bool)ViewBag.ModAdd;
    string isAdd = isModAdd ? "" : "";
    // string isAdd = isModAdd ? "" : "disabled";
}

<script type="text/javascript">

    function showOverlay() {
        var overlay = document.createElement('div');
        overlay.className = 'overlay';

        var spinner = document.createElement('div');
        spinner.className = 'spinner';

        var text = document.createElement('div');
        text.className = 'text';
        text.innerHTML = 'Processing Data...';

        overlay.appendChild(spinner);
        overlay.appendChild(text);
        document.body.appendChild(overlay);

        setTimeout(function () {
            hideOverlay();
        }, 3000);

        return true;
    }
    function hideOverlay() {
        var overlay = document.querySelector('.overlay');
        if (overlay) {
            document.body.removeChild(overlay);
        }
    }

    // status modal
    document.addEventListener('DOMContentLoaded', function () {
        var statusInput = document.getElementById('statusInput');
        var statusSelect = document.getElementById('statusSelect');

        document.getElementById('saveStatusBtn').addEventListener('click', function () {
            var selectedOptions = Array.from(statusSelect.selectedOptions).map(option => option.value);

            statusInput.value = selectedOptions.join(', ');
        });
    });

    document.addEventListener('DOMContentLoaded', function () {

        var btnDanger = document.getElementById('statusRemove');
        var statusInput = document.getElementById('statusInput');

        btnDanger.addEventListener('click', function () {
            statusInput.value = '';
        });
    });

    function confirmDelete(id) {
        Swal.fire({
            title: 'Are you sure?',
            html: `
                                <div style="font-size: 16px; text-align: center;">
                                    <div style="margin-bottom: 10px;">
                                        Are you sure to delete the following data?
                                    </div>
                                </div>
                            `,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                performDelete(id);
            }
        });
    }

    function performDelete(id) {
        $.ajax({
            method: "POST",
            url: "/ExrRepairJobHistory/Delete",
            dataType: 'json',
            data: { id: id }
        }).done(function (response) {
            location.reload();
        });
    }
</script>

<form method="post" enctype="multipart/form-data" asp-controller="ExrRepairJobHistory">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">External Repair Job History</h5>
                </div>
                <div class="card-body">
                    <div class="mb-2">
                        <blockquote class="blockquote custom-blockquote blockquote-primary rounded mb-0 p-2">
                            @* <small>Total Records: @ViewBag.TotalRecords Rows</small> *@
                        </blockquote>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex mb-2 align-items-center" style="gap: 5px">
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                <i class="fa fa-filter me-2"></i> FILTER
                            </button>
                            <button type="submit" class="btn btn-sm btn-primary" formaction="/ExrRepairJobHistory/Add" @isAdd>
                                <i class="fa fa-plus me-2"></i> ADD
                            </button>
                            <div>
                                <select name="creportype" class="form-select" style="width: 160px;">
                                    <option value="">*Select Export Type*</option>
                                    <option value="1">Job Detail</option>
                                    <option value="2">OR Request TCI</option>
                                    <option value="3">OR Request LCI</option>
                                    <option value="4">Inspection Detail</option>
                                    <option value="5">Core Component</option>
                                    <option value="6">Main Component</option>
                                    <option value="7">Unit Job Detail</option>
                                    <option value="8">Complete Component</option>
                                    <option value="9">Warranty Report</option>
                                    <option value="10">WIP Report</option>
                                    <option value="11">Variance Analysis</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary" formaction="/ExrRepairJobHistory/Export" OnClick="return showOverlay();">
                                <i class="fa fa-download me-2"></i> EXPORT
                            </button>
                            <button type="submit" class="btn btn-sm btn-primary" formaction="/ComponentEvaluation/Index">
                                CE
                            </button>
                            <button type="submit" class="btn d-none btn-sm btn-primary" formaction="/JournalDetail/Index">
                                DISPATCH
                            </button>
                            <button type="submit" class="btn btn-sm btn-primary" formaction="/ExrRepairJobHistory/CreateAN">
                                CREATE AN
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#frm_uploadWOExrJob">
                                Upload WO
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#frm_uploadIMGExrJob">
                                Upload Image
                            </button>
                            <div class="btn btn-primary btn-sm btn-file d-flex align-items-center justify-content-center">
                                Upload OP
                                <input class="form-control form-control-sm" type="file" id="uploadOP" name="uploadOP" accept=".txt, .tsv">
                            </div>
                        </div>
                        <div class="d-flex mb-2 align-items-center" style="gap: 5px">
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#frm_ExrTagSatu">
                                TAG
                            </button>
                            <button type="submit" class="btn btn-sm btn-primary" formaction="/Tag/Index">
                                Test TAG
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" id="CPrintOldCore" name="CPrintOldCore">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-pdf-fill" viewBox="0 0 16 16">
                                    <path d="M5.523 10.424q.21-.124.459-.238a8 8 0 0 1-.45.606c-.28.337-.498.516-.635.572l-.035.012a.3.3 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548m2.455-1.647q-.178.037-.356.078a21 21 0 0 0 .5-1.05 12 12 0 0 0 .51.858q-.326.048-.654.114m2.525.939a4 4 0 0 1-.435-.41q.344.007.612.054c.317.057.466.147.518.209a.1.1 0 0 1 .026.064.44.44 0 0 1-.06.2.3.3 0 0 1-.094.124.1.1 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256M8.278 4.97c-.04.244-.108.524-.2.829a5 5 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.5.5 0 0 1 .145-.04c.013.03.028.092.032.198q.008.183-.038.465z" />
                                    <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m.165 11.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.6 11.6 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.86.86 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.84.84 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.8 5.8 0 0 0-1.335-.05 11 11 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.24 1.24 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a20 20 0 0 1-1.062 2.227 7.7 7.7 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103" />
                                </svg> Old Core Inspection
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" id="CPrintFinalInspection" name="CPrintFinalInspection">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-pdf-fill" viewBox="0 0 16 16">
                                    <path d="M5.523 10.424q.21-.124.459-.238a8 8 0 0 1-.45.606c-.28.337-.498.516-.635.572l-.035.012a.3.3 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548m2.455-1.647q-.178.037-.356.078a21 21 0 0 0 .5-1.05 12 12 0 0 0 .51.858q-.326.048-.654.114m2.525.939a4 4 0 0 1-.435-.41q.344.007.612.054c.317.057.466.147.518.209a.1.1 0 0 1 .026.064.44.44 0 0 1-.06.2.3.3 0 0 1-.094.124.1.1 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256M8.278 4.97c-.04.244-.108.524-.2.829a5 5 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.5.5 0 0 1 .145-.04c.013.03.028.092.032.198q.008.183-.038.465z" />
                                    <path fill-rule="evenodd" d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m.165 11.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.6 11.6 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.86.86 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.84.84 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.8 5.8 0 0 0-1.335-.05 11 11 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.24 1.24 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a20 20 0 0 1-1.062 2.227 7.7 7.7 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103" />
                                </svg> Final Inspection
                            </button>
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#frm_HoldItem">
                                Hold Item
                            </button>
                        </div>
                    </div>

                    <!-- right offcanvas -->
                    <partial name="_filter.cshtml" />

                    <!-- Modal -->
                    <div class="modal fade" id="filterstatusmodal" tabindex="-1" aria-labelledby="filterstatusmodal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="statusModal">Status</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <select class="form-select" multiple aria-label="status select" style="min-height: 135px;" id="statusSelect">
                                        <option value="C">C | Closed</option>
                                        <option value="D">D | Deleted</option>
                                        <option value="H">H | Hold</option>
                                        <option value="L">L | In Transit</option>
                                        <option value="O">O | Outstanding</option>
                                        <option value="P">P | In Progress</option>
                                        <option value="X">X | Canceled</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="saveStatusBtn">Save changes</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (TempData.Peek("Msg") != null)
                    {
                        @section Scripts
                    {
                        <script>
                            Swal.fire({
                                title: '@TempData.Peek("Msg")',
                                    icon: '@TempData.Peek("Stat")'
                                });
                            </script>
                        }
                    }

                    <div id="tableContainer" class="table-responsive">
                        <table id="myTable" class="table datatable mb-0 table-sm table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Prio</th>
                                    <th>Total AGE WO</th>
                                    <th>Age Waiting Qoute</th>
                                    <th>Unit Number</th>
                                    <th>Wo Alloc</th>
                                    <th>Site Alloc</th>
                                    <th>WOJob Cost</th>
                                    <th>Log Date</th>
                                    <th>PER AN</th>
                                    <th>St</th>
                                    <th>Comp Desc</th>
                                    <th>Qty</th>
                                    <th>Comp Type</th>
                                    <th>Repair Advice</th>
                                    <th>PCAM</th>
                                    <th>TCI Part No</th>
                                    <th>Supv</th>
                                    <th>Repair By</th>
                                    <th>Int WO</th>
                                    <th>WorkShop Status</th>
                                    <th>AN For Repair</th>
                                    <th>Qoute No</th>
                                    <th>Job No</th>
                                    <th>Quote Date</th>
                                    <th>OR No</th>
                                    <th>OP No</th>
                                    <th>OP Date</th>
                                    <th>Received Date</th>
                                    <th>PRF ID</th>
                                    <th>QR No</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<partial name="Form/Component/Modal/frm_uploadWOExrJob.cshtml" />
<partial name="Form/Component/Modal/frm_uploadIMGExrJob.cshtml" />
<partial name="Form/Component/Modal/frm_HoldItem.cshtml" />
<partial name="Tag/Modal/frm_ExrTagSatu.cshtml" />

<script>
    $(document).ready(function () {

        function extractData() {
            var data = {};

            data.repairType = $("#repairtypeid").val();
            data.compType = $("#comptype").val();
            data.statusInput = $("#statusInput").val();
            data.supervisorId = $("#supervisorid").val();
            data.supplierId = $("#supplierid").val();
            data.cwoType = $("#cwotype").val();
            data.cwoTypeValue = $("#cwotypevalue").val();
            data.fdocType = $("#fdoctype").val();
            data.fdocTypeValue = $("#fdoctypevalue").val();
            data.ccompIdType = $("#ccompidtype").val();
            data.ccompIdValue = $("#ccompidvalue").val();
            data.sDate = $("#sdate").val();
            data.startDate = $("#startdate").val();
            data.endDate = $("#endate").val();
            data.lmodBy = $("#lmodby").val();
            data.lmodByValue = $("#lmodbyvalue").val();
            data.reasonTypeId = $("#reasontypeid").val();
            data.freasonType = $("#freasontype").val();
            data.freasonValue = $("#freasonvalue").val();
            data.cbDelay = $("#cbdelay").val();
            data.cbDelayValue = $("#cbdelayvalue").val();
            data.repairAdvice = $("#repairadvice").val();
            data.toCatDesc = $("#tocatdesc").val();
            data.requestP1 = $("#RequestP1").val();
            data.fissNull = $("#fissnull").val();
            data.pCam = $("#pcam").val();
            data.sortBy = $("#sortby").val();
            data.ascDesc = $("#ascdsc").val();

            return data;
        }

        LoadData()
        $('#filterButton').click(function (e) {
            e.preventDefault();
            LoadData();
        });

        function LoadData() {
            var extractedData = extractData();

            // Tampilkan loading overlay
            $('#loadingOverlay').show();

            $.ajax({
                url: '@Url.Action("LoadData", "ExrRepairJobHistory")',
                type: 'GET',
                dataType: 'json',
                data: extractedData,
                success: function (test) {
                    //console.log(test);
                    $('.datatable').DataTable().clear().destroy(); // Clear and destroy the existing DataTable
                    $('.datatable').DataTable({
                        searching: false,
                        lengthChange: false,
                        responsive: true,
                        pageLength: 20,
                        data: test, // The data received from the AJAX request
                        columns: [
                            { "data": "delete" },
                            { "data": "edit" },
                            { "data": "id" },
                            { "data": "totalAgeWO" },
                            { "data": "unitNumber" },
                            { "data": "offSiteWO" },
                            { "data": "woAlloc" },
                            { "data": "siteAllocName" },
                            { "data": "woJobCost" },
                            { "data": "logANReceivedDate" },
                            { "data": "logANReceivedDate" },
                            { "data": "logANSentDate" },
                            { "data": "status" },
                            { "data": "compDesc" },
                            { "data": "compQty" },
                            { "data": "compType" },
                            { "data": "repairAdvice" },
                            { "data": "pcamStatusID" },
                            { "data": "tciPartNo" },
                            { "data": "supervisorAbbr" },
                            { "data": "supplierName" },
                            { "data": "intWO" },
                            { "data": "suppForRepairANNo" },
                            { "data": "quoteNo" },
                            { "data": "jobNo" },
                            { "data": "quoteDate" },
                            { "data": "orNo" },
                            { "data": "opDate" },
                            { "data": "receivedDate" }
                        ]
                    });
                    // Sembunyikan loading overlay setelah data dimuat
                    $("#offcanvas").offcanvas("hide");
                    $('#loadingOverlay').hide();
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        $('#uploadOP').on('change', function () {

            var file = this.files[0];
            var formData = new FormData();
            formData.append("fileData", file);

            Swal.fire("Upload OP Process Is Running", "", "info");

            $.ajax({
                method: "POST",
                url: "/Upload/OP",
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response == "error") {
                        Swal.fire("Upload OP Failed", "", "error");
                    } else if (response == "invalid") {
                        Swal.fire("Invalid Input File. Please Ensure You are downloading the JDE data right format", "", "error");
                    } else if (response == "not found") {
                        Swal.fire("File Not Found", "", "error");
                    } else if (response == "finish") {
                        Swal.fire("Upload OP Completed", "", "success");
                    }
                },
                error: function (error) {
                    // Handle error response here
                }
            });
        });

        // batch print pdf first way
        function delay(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        $('#CPrintOldCore').on('click', async function () {
            Swal.fire({
                title: "Attention",
                html: `
                        <div style="font-size: 16px; text-align: center;">
                            <div class='d-flex align-items-center flex-column'>
                                <div>
                                    Maximum File Process Is 50
                                </div>
                                <div style="margin-bottom: 10px;">
                                    Please Wait Until All File Processed
                                </div>
                            </div>
                        </div>
                            `,
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Okay"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    var index = 0;
                    var extractedData = extractData();
                    try {
                        var response = await $.ajax({
                            method: "POST",
                            url: "/ExrRepairJobHistory/IndexPrintOldCore",
                            data: extractedData,
                        });

                        for (const item of response) {
                            console.log("item is", item);
                            window.open(item, "_self");
                            await delay(4000);
                        }
                    } catch (error) {
                        // Handle error response here
                    }
                }
            });
        });

        $('#CPrintFinalInspection').on('click', async function () {
            Swal.fire({
                title: "Attention",
                html: `
                        <div style="font-size: 16px; text-align: center;">
                            <div class='d-flex align-items-center flex-column'>
                                    <div>
                                    Maximum File Process Is 50
                                </div>
                                <div style="margin-bottom: 10px;">
                                    Please Wait Until All File Processed
                                </div>
                            </div>
                        </div>
                            `,
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Okay"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    var index = 0;
                    var extractedData = extractData();
                    try {
                        var response = await $.ajax({
                            method: "POST",
                            url: "/ExrRepairJobHistory/IndexPrintFinalInspection",
                            data: extractedData,
                        });

                        for (const item of response) {
                            console.log("item is", item);
                            window.open(item, "_self");
                            await delay(4000);
                        }
                    } catch (error) {
                        // Handle error response here
                    }
                }
            });
        });
        
        // batch print pdf second way
        // $('#CPrintOldCore').on('click', function () {
        //     var extractedData = extractData();
        //     $.ajax({
        //         method: "POST",
        //         url: "/ExrRepairJobHistory/IndexPrintOldCore",
        //         data: extractedData,
        //         success: function (response) {
        //             var length = response.length;

        //             for (var i = 0; i < length; i++) {
        //                 var item = response[i];
        //                 var newTab = window.open(item, "_blank");
        //                 newTab.blur();
        //                 window.focus();
        //             }
        //         },
        //         error: function (error) {
        //             // Handle error response here
        //         }
        //     });
        // });

    });
</script>