@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using System.Data;
}

<div class="modal fade" id="sfrm_WoDouble" tabindex="-1" aria-labelledby="sfrm_WoDouble" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="statusModal">Parent Wo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="table-responsive mx-2">
                <table id="tableDoubleWo" class="table datatableDoubleWo table-striped table-bordered" style="width: 100%">
                    <thead class="table-light">
                        <tr>
                            <th>SELECT</th>
                            <th>ID</th>
                            <th>Parent Wo</th>
                            <th>Wo Offsite</th>
                            <th>Status ID</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>