@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border" >
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <partial name="_jobDetails.cshtml" />
        <partial name="_jobRepairStatusOrAllocation.cshtml" />
        <partial name="_siteAn.cshtml" />
        <partial name="_repairDetails.cshtml" />
        <partial name="_approvalDetails.cshtml" />
        <partial name="_dispatchDetail.cshtml" />
        <partial name="_documentInformation.cshtml" />
    </div>
</div>
