@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col border">
    <div class="m-3 d-flex flex-column fw-bold" style="gap: 10px;">
        <partial name="_componentDetails.cshtml" />
        <partial name="_inspectionResult.cshtml" />
        <partial name="_supplierReceivingInformation.cshtml" />
        <partial name="_warrantyDetails.cshtml" />
        <partial name="_repairStatusOrAllocation.cshtml" />
        <partial name="_remark.cshtml" />
        <partial name="_statusHistory.cshtml" />
        <partial name="_additionalInformation.cshtml" />
        <partial name="_attachment.cshtml" />
        <partial name="_dataInformation.cshtml" />
    </div>
</div>